#placeholder::-webkit-scrollbar {
    height: .4rem;
}

#placeholder::-webkit-scrollbar-track {
    background: transparent; 
}

#placeholder::-webkit-scrollbar-thumb {
    background: transparent;
    width: 0.1rem;
}

#placeholder::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7); /* Thumb color on hover */
}