#collapse {
}

#toggle {
    display: none;
}

#head::before {
    position: absolute;
    content: "expand_more";
    font-family: "Material Icons";
    top: 50%;
    right: .2rem;
    transform: translate(0, -50%);
    font-size: 2rem;
}