@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap");
@import url('https://fonts.cdnfonts.com/css/compagnon');

@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    width: 100%;
    height: 100%;
    margin: auto;
}